[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Indentation Plugin: Example Tool</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">Plugins</a> &rsaquo; Indentation &rsaquo; Example Tool</div>

    
    

[% INCLUDE 'intranet-bottom.inc' %]